i:hover{
    color: orangered;
    cursor: pointer;
}
.card{
    transition: box-shadow 1s;
}
.card:hover{
    box-shadow: inset 0 0 0 5px orangered;
}
.btn:hover{
    background-color: orangered;
}
.nav-link:hover{
    color: orangered;
}
a { 
    color: inherit; 
} 